* {
    margin: 0;
}

body {
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: url("../images/aboutme.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;

}

.grid-layout {
    display: grid;

    height: 100vh;
    width: 100vw;

    grid-template-columns: .5fr 1fr 1fr .5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.header {
    align-items: flex-end;
    grid-column: 1/2;
    grid-row: 1/5;
}

.calltoaction {
    grid-column: 2/4;
    grid-row: 1/2;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    font-size: 2.1em;
    letter-spacing: 10px;
}

.contact {
    grid-column: 2/4;
    grid-row: 2/4;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    text-align: center;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: black;
    transition: color .2s;
}

a:hover {
    color: #896a67;
}

.contact i {
    font-size: 250%;
}


.signature {
    grid-column: 2/4;
    grid-row: 4/5;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

img {
    width: 40%;
}