* {
    padding: 0px;
    margin:0px;
        /* overflow-x: hidden; */
}
body{
    background: url("../images/gallery_bg.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;

}
#gallery_main{
    margin: -20vw auto;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    width:50vw;
    height: 50vw;
    z-index: 2;
    grid-gap: 20px;

  }
  .grid-item {
    /* background:  url("https://mdbootstrap.com/img/Photos/Others/img%20(44).jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 25px;

    -moz-box-shadow: 0 5px 10px rgb(0, 0, 0);
    -webkit-box-shadow: 0 5px 10px rgb(0, 0, 0);
    box-shadow: 0 5px 10px rgb(0, 0, 0);

    transition: transform .2s; /* Animation */
  }
  .grid-item:hover{
    transform: scale(1.2);
  }
.frame{
    z-index: 5;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.356);
}

.window{
    width: 70vw;
    height: 70vh;
    background-color: white;
}

.window > *{
    padding:10px;
}

#cancel{
    background-color: red;
    color:white;
    position: absolute;
    top:5vw;
    right:5vw;
    width:40px;
    height:40px;
}