nav{
    position: fixed;
    z-index: 1;
    top:10%;
    right:5%;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f100;
  }
  
  li a {
    display: block;
    color: rgb(131, 130, 130);
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;

  }
  
  /* Change the link color on hover */
  li a:hover {
    color: black;
  }

.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;

}
.header p {
    font-size: 5em;
    letter-spacing: 20px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  /* Source code from https://css-tricks.com/add-page-transitions-css-smoothstate-js/ */
    /** Basic styles for an animated element */
    .scene_element {
      animation-duration: 1s;
      transition-timing-function: ease-in;
      animation-fill-mode: both;
  
    }
  
    /** An element that fades in */
    .scene_element--fadein {
      animation-name: fadeIn;
    }
  
    /** An element that fades in and slides up */
    .scene_element--fadeinup {
      animation-name: fadeInUp;
    }
  
    /** An element that fades in and slides from the right */
    .scene_element--fadeinright {
      animation-name: fadeInRight;
    }
    @media only screen and (max-width: 1160px) {
        nav{
            width:100vw;
            /* border:1px red solid; */
            top:0px;
            left:0px;
        }
        ul {
            flex-direction: row;
            /* border:1px black solid; */
            width: 90vw;
            margin: 5px auto;
        }
        li {
            margin: 0px auto;
            color:black;
            background-color:white;
            border-radius:20px;
            border:1px black solid;
        }
        /* .header{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top:50px;
        }
        .header p {
            font-size: 5em;
            letter-spacing: 10px;
            writing-mode:horizontal-tb;
            transform: rotate(0deg);
        } */
    }
